
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<p>Developer: Jose Angel Gomez Bravo</p>
<p>Purpose: Complete Assignment 2 by recreating the given tasks.</p>