
@{
    ViewData["Title"] = "Hobbies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hobbies</h1>

<!--Ordered List-->
<p>Hobbies (ordered list)</p>
<ol>
    <li>Camping</li>
    <li>Playing Video Games</li>
    <li>Reading</li>
    <li>Watching Movies</li>
    <li>Playing Tennis</li>
</ol>

<!--Unorderd List-->
<p>Interest (unordered list)</p>
<ul>
    <li>Math</li>
    <li>Computer Science</li>
    <li>Cars</li>
    <li>Computers</li>
    <li>Chemistry</li>
</ul>
